[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
lint = "black ."
enrollees = "python clean_enrollees_extract.py"
analyze = "python analyze_enrollees.py"
test = "pytest"
outreach = "python clean_outreach.py"
rentals = "python clean_rentals.py"
